<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BibliotecaCEB</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
</head>
<body class="body-horarios">
    <h1 class="titulo-horarios">Horarios</h1>
    <div class="contenedor-cards">
        <div class="card">
            <div class="icono-card">L</div>
            <h2>Lunes</h2>
            <p>6:00AM - 6:00PM <br> <br> NO HAY EVENTO</p>
        </div>
        <div class="card">
            <div class="icono-card">M</div>
            <h2>Martes</h2>
            <p>6:00AM - 6:00PM <br> <br> NO HAY EVENTO</p>
        </div>
        <div class="card">
            <div class="icono-card">M</div>
            <h2>Miercoles</h2>
            <p>6:00AM - 6:00PM <br> <br> NO HAY EVENTO</p>
        </div>
        <div class="card">
            <div class="icono-card">J</div>
            <h2>Jueves</h2>
            <p>6:00AM - 6:00PM <br> <br> NO HAY EVENTO</p>
        </div>
        <div class="card">
            <div class="icono-card">V</div>
            <h2>Viernes</h2>
            <p>6:00AM - 6:00PM <br> <br> NO HAY EVENTO</p>
        </div>
        <div class="card">
            <div class="icono-card">F</div>
            <h2>Sabado y Domingo</h2>
            <p>6:00AM - 6:00PM <br> <br> NO HAY EVENTO</p>
        </div>
    </div>
     <a href="{% url 'App1:inicio' %}">Volver</a>
</body>
</html>